<!doctype html>
<html lang="en">
    <head>
        <link href="https://fonts.googleapis.com/css?family=Raleway:400,300,600,800,900" rel="stylesheet" type="text/css">
        
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" type="text/css">
        
        {% include "styling.html" %}

    <body>
        {% for sensor, tag in sensors.iteritems() %}
            <div class="col-md-3 col-xs-6">
                {% for type, values in tag.iteritems() %}
			<div class="{{sensor}} panel panel-primary _widget {% if loop.index != 2 %}
				                                                        hidden_widget
				                                                        {% endif %}" >
				<div class="panel-heading">
					<h3 class="panel-title"><a href={{url_for('graph', name=sensor, tag=type )}}>{{sensor}} {{type}}</a></h3>
					<span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span>
				</div>
				<div class="panel-body">
				        <div id="container-{{sensor}}-{{type}}" class="widget 
				                                                        "></div>
				</div>
			</div>
			{% endfor %}
		</div>
        {% endfor %}
        
    

        
    </body>
    
    <script   src="https://code.jquery.com/jquery-3.1.1.min.js"   integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="   crossorigin="anonymous"></script>
    {% include "progressBarjs.html" %}

</html>